body{
    background-color: #f2f2f2;;
   
}


strong{
    color: brown;
    font-size: 27.5px;
}


p{
    color:black;
    font-size: 15px;
    font-family: "Noto Sans JP",sans-serif;
    font-style: italic;
}
